.fondo_main_index {
  background-color: #d1c7b7; }
  .fondo_main_index img {
    width: 97vw; }
  .fondo_main_index .main_text {
    text-align: justify; }
    .fondo_main_index .main_text h3, .fondo_main_index .main_text p {
      padding: 10px;
      line-height: 30px; }

@media only screen and (min-width: 751px) {
  .fondo_main_index {
    display: grid;
    grid-template-areas: "imagen texto"; }
    .fondo_main_index .main_text {
      grid-area: texto;
      margin: 10px; }
    .fondo_main_index .fondo_trigo_index {
      grid-area: imagen;
      width: 40vw;
      height: 98%;
      object-fit: cover;
      border: 2px solid #3e4095;
      margin-bottom: 10px;
      margin-left: 10px; } }

@media only screen and (max-width: 750px) {
  .estructura_main_comercial .image_servicios {
    display: none; }
  .estructura_main_comercial .image_insumos {
    display: none; }
  .estructura_main_comercial .image_finanzas {
    display: none; }
  .estructura_main_comercial .text_servicios {
    background-image: url(../images/comercial/servicios_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; }
  .estructura_main_comercial .text_insumos {
    background-image: url(../images/comercial/insumos_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; }
  .estructura_main_comercial .text_finanzas {
    background-image: url(../images/comercial/finanzas_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; } }

@media only screen and (min-width: 751px) {
  .estructura_main_comercial {
    display: flex;
    flex-flow: nowrap; }
    .estructura_main_comercial .finanzas {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .insumos {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .servicios {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .image_finanzas {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .image_insumos {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .image_servicios {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .text_finanzas, .estructura_main_comercial .text_insumos, .estructura_main_comercial .text_servicios {
      text-align: center;
      height: 350px;
      width: 32vw;
      padding-top: 20%;
      margin-top: 10px;
      border: 2px solid #3e4095; } }

@media only screen and (max-width: 750px) {
  .estructura_main_contacto {
    background-color: #d1c7b7; }
    .estructura_main_contacto .texto_desktop, .estructura_main_contacto .foto_contacto {
      display: none; }
    .estructura_main_contacto form input, .estructura_main_contacto form textarea, .estructura_main_contacto form label {
      width: 95%;
      padding: 5px;
      margin-left: 10px;
      margin-right: 10px; }
    .estructura_main_contacto .text_area_desktop {
      display: none; }
    .estructura_main_contacto .boton {
      padding-bottom: 10px;
      padding-top: 5px; } }

@media only screen and (min-width: 751px) {
  .estructura_main_contacto {
    padding-left: 5px; }
  .text_area_mobile {
    display: none; }
  .foto_contacto {
    width: 95vw;
    height: 200px;
    margin-left: 10px;
    object-fit: cover; }
  .texto_desktop {
    padding: 5px;
    margin-top: 10px; }
  .etiqueta_form {
    width: 50vw; }
  .text_area_desktop {
    width: 90vw; }
  .texto_desktop {
    font-size: 24px; } }

@media only screen and (max-width: 750px) {
  .price {
    display: grid;
    grid-template-areas: "soja_price trigo_price" "maiz_price sorgo_price"; }
  .soja_price {
    grid-area: soja_price;
    background-image: url(../images/precios/grafico.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #3e4095 2px solid;
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 10px; }
    .soja_price ul {
      display: flex;
      flex-direction: column;
      color: #3e4095;
      padding-top: 15px; }
      .soja_price ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-right: 5vw; }
      .soja_price ul .nombre_cereal {
        font-size: 24px; }
      .soja_price ul .precio_cereal {
        font-weight: bold;
        font-size: 32px;
        color: #3e4095;
        padding: 0px; }
      .soja_price ul .cambio_24_cereal, .soja_price ul .cambio_24porc_cereal {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }
      .soja_price ul .cambio_24porc_cereal {
        font-size: 24px; }
      .soja_price ul .cambio_24_cereal {
        text-decoration: underline; }
      .soja_price ul #cambio_24porc_cereal_soja {
        color: #24a49c; }
      .soja_price ul #cambio_24porc_cereal_sorgo {
        color: #24a49c; }
      .soja_price ul #cambio_24porc_cereal_maiz {
        color: #24a49c; }
      .soja_price ul #cambio_24porc_cereal_trigo {
        color: #ec5454; }
      .soja_price ul .cambio_7_cereal, .soja_price ul .cambio_30_cereal, .soja_price ul .cambio_7porc_cereal, .soja_price ul .cambio_30porc_cereal {
        display: none; }
  .trigo_price {
    grid-area: trigo_price;
    background-image: url(../images/precios/grafico.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #3e4095 2px solid;
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 10px; }
    .trigo_price ul {
      display: flex;
      flex-direction: column;
      color: #3e4095;
      padding-top: 15px; }
      .trigo_price ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-right: 5vw; }
      .trigo_price ul .nombre_cereal {
        font-size: 24px; }
      .trigo_price ul .precio_cereal {
        font-weight: bold;
        font-size: 32px;
        color: #3e4095;
        padding: 0px; }
      .trigo_price ul .cambio_24_cereal, .trigo_price ul .cambio_24porc_cereal {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }
      .trigo_price ul .cambio_24porc_cereal {
        font-size: 24px; }
      .trigo_price ul .cambio_24_cereal {
        text-decoration: underline; }
      .trigo_price ul #cambio_24porc_cereal_soja {
        color: #24a49c; }
      .trigo_price ul #cambio_24porc_cereal_sorgo {
        color: #24a49c; }
      .trigo_price ul #cambio_24porc_cereal_maiz {
        color: #24a49c; }
      .trigo_price ul #cambio_24porc_cereal_trigo {
        color: #ec5454; }
      .trigo_price ul .cambio_7_cereal, .trigo_price ul .cambio_30_cereal, .trigo_price ul .cambio_7porc_cereal, .trigo_price ul .cambio_30porc_cereal {
        display: none; }
  .maiz_price {
    grid-area: maiz_price;
    background-image: url(../images/precios/grafico.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #3e4095 2px solid;
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 10px; }
    .maiz_price ul {
      display: flex;
      flex-direction: column;
      color: #3e4095;
      padding-top: 15px; }
      .maiz_price ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-right: 5vw; }
      .maiz_price ul .nombre_cereal {
        font-size: 24px; }
      .maiz_price ul .precio_cereal {
        font-weight: bold;
        font-size: 32px;
        color: #3e4095;
        padding: 0px; }
      .maiz_price ul .cambio_24_cereal, .maiz_price ul .cambio_24porc_cereal {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }
      .maiz_price ul .cambio_24porc_cereal {
        font-size: 24px; }
      .maiz_price ul .cambio_24_cereal {
        text-decoration: underline; }
      .maiz_price ul #cambio_24porc_cereal_soja {
        color: #24a49c; }
      .maiz_price ul #cambio_24porc_cereal_sorgo {
        color: #24a49c; }
      .maiz_price ul #cambio_24porc_cereal_maiz {
        color: #24a49c; }
      .maiz_price ul #cambio_24porc_cereal_trigo {
        color: #ec5454; }
      .maiz_price ul .cambio_7_cereal, .maiz_price ul .cambio_30_cereal, .maiz_price ul .cambio_7porc_cereal, .maiz_price ul .cambio_30porc_cereal {
        display: none; }
  .sorgo_price {
    grid-area: sorgo_price;
    background-image: url(../images/precios/grafico.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #3e4095 2px solid;
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 10px; }
    .sorgo_price ul {
      display: flex;
      flex-direction: column;
      color: #3e4095;
      padding-top: 15px; }
      .sorgo_price ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-right: 5vw; }
      .sorgo_price ul .nombre_cereal {
        font-size: 24px; }
      .sorgo_price ul .precio_cereal {
        font-weight: bold;
        font-size: 32px;
        color: #3e4095;
        padding: 0px; }
      .sorgo_price ul .cambio_24_cereal, .sorgo_price ul .cambio_24porc_cereal {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }
      .sorgo_price ul .cambio_24porc_cereal {
        font-size: 24px; }
      .sorgo_price ul .cambio_24_cereal {
        text-decoration: underline; }
      .sorgo_price ul #cambio_24porc_cereal_soja {
        color: #24a49c; }
      .sorgo_price ul #cambio_24porc_cereal_sorgo {
        color: #24a49c; }
      .sorgo_price ul #cambio_24porc_cereal_maiz {
        color: #24a49c; }
      .sorgo_price ul #cambio_24porc_cereal_trigo {
        color: #ec5454; }
      .sorgo_price ul .cambio_7_cereal, .sorgo_price ul .cambio_30_cereal, .sorgo_price ul .cambio_7porc_cereal, .sorgo_price ul .cambio_30porc_cereal {
        display: none; }
  .imagen_cereales {
    display: none; } }

@media only screen and (min-width: 750px) {
  .estructura_main_precios {
    display: grid;
    grid-template-areas: "imagen_cereal soja_price" "imagen_cereal trigo_price" "imagen_cereal maiz_price" "imagen_cereal sorgo_price"; }
  .imagen_cereales img {
    width: 30vw;
    height: 750px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .imagen_cereal {
    grid-area: imagen_cereal;
    border: 2px solid #3e4095;
    width: 65vw;
    background-image: url(../images/precios/graph_desktop.jpeg);
    padding-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .imagen_cereal ul {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      display: grid;
      grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal"; }
      .imagen_cereal ul .nombre_cereal {
        grid-area: nombre_cereal; }
      .imagen_cereal ul .desktop_extra_prices {
        grid-area: desktop_extra_prices; }
      .imagen_cereal ul .precio_cereal {
        grid-area: precio_cereal; }
      .imagen_cereal ul .cambio_24_cereal {
        grid-area: cambio_24_cereal; }
      .imagen_cereal ul .cambio_24porc_cereal {
        grid-area: cambio_24porc_cereal; }
      .imagen_cereal ul .cambio_7_cereal {
        grid-area: cambio_7_cereal; }
      .imagen_cereal ul .cambio_7porc_cereal {
        grid-area: cambio_7porc_cereal; }
      .imagen_cereal ul .cambio_30_cereal {
        grid-area: cambio_30_cereal; }
      .imagen_cereal ul .cambio_30porc_cereal {
        grid-area: cambio_30porc_cereal; }
      .imagen_cereal ul li {
        list-style: none;
        color: #3e4095; }
    .imagen_cereal .nombre_cereal {
      font-size: 28px;
      font-weight: bold; }
    .imagen_cereal .desktop_extra_prices, .imagen_cereal .cambio_24_cereal {
      font-size: 20px;
      text-decoration: underline; }
    .imagen_cereal .cambio_24_cereal, .imagen_cereal .cambio_24porc_cereal {
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 10px; }
    .imagen_cereal .cambio_7_cereal, .imagen_cereal .cambio_30_cereal {
      font-size: 16px;
      text-decoration: underline; }
    .imagen_cereal .cambio_7porc_cereal, .imagen_cereal .cambio_30porc_cereal {
      font-weight: bold;
      font-size: 18px; }
    .imagen_cereal .precio_cereal, .imagen_cereal .cambio_24porc_cereal {
      font-size: 30px;
      font-weight: bold; }
    .imagen_cereal #cambio_24porc_cereal_soja {
      color: #24a49c; }
    .imagen_cereal #cambio_24porc_cereal_sorgo {
      color: #24a49c; }
    .imagen_cereal #cambio_24porc_cereal_maiz {
      color: #24a49c; }
    .imagen_cereal #cambio_24porc_cereal_trigo {
      color: #ec5454; }
    .imagen_cereal #cambio_7porc_cereal_soja {
      color: #24a49c; }
    .imagen_cereal #cambio_7porc_cereal_sorgo {
      color: #24a49c; }
    .imagen_cereal #cambio_7porc_cereal_maiz {
      color: #24a49c; }
    .imagen_cereal #cambio_7porc_cereal_trigo {
      color: #24a49c; }
    .imagen_cereal #cambio_30porc_cereal_soja {
      color: #24a49c; }
    .imagen_cereal #cambio_30porc_cereal_sorgo {
      color: #24a49c; }
    .imagen_cereal #cambio_30porc_cereal_trigo {
      color: #ec5454; }
    .imagen_cereal #cambio_30porc_cereal_maiz {
      color: #ec5454; }
  .soja_price {
    grid-area: soja_price;
    border: 2px solid #3e4095;
    width: 65vw;
    background-image: url(../images/precios/graph_desktop.jpeg);
    padding-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .soja_price ul {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      display: grid;
      grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal"; }
      .soja_price ul .nombre_cereal {
        grid-area: nombre_cereal; }
      .soja_price ul .desktop_extra_prices {
        grid-area: desktop_extra_prices; }
      .soja_price ul .precio_cereal {
        grid-area: precio_cereal; }
      .soja_price ul .cambio_24_cereal {
        grid-area: cambio_24_cereal; }
      .soja_price ul .cambio_24porc_cereal {
        grid-area: cambio_24porc_cereal; }
      .soja_price ul .cambio_7_cereal {
        grid-area: cambio_7_cereal; }
      .soja_price ul .cambio_7porc_cereal {
        grid-area: cambio_7porc_cereal; }
      .soja_price ul .cambio_30_cereal {
        grid-area: cambio_30_cereal; }
      .soja_price ul .cambio_30porc_cereal {
        grid-area: cambio_30porc_cereal; }
      .soja_price ul li {
        list-style: none;
        color: #3e4095; }
    .soja_price .nombre_cereal {
      font-size: 28px;
      font-weight: bold; }
    .soja_price .desktop_extra_prices, .soja_price .cambio_24_cereal {
      font-size: 20px;
      text-decoration: underline; }
    .soja_price .cambio_24_cereal, .soja_price .cambio_24porc_cereal {
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 10px; }
    .soja_price .cambio_7_cereal, .soja_price .cambio_30_cereal {
      font-size: 16px;
      text-decoration: underline; }
    .soja_price .cambio_7porc_cereal, .soja_price .cambio_30porc_cereal {
      font-weight: bold;
      font-size: 18px; }
    .soja_price .precio_cereal, .soja_price .cambio_24porc_cereal {
      font-size: 30px;
      font-weight: bold; }
    .soja_price #cambio_24porc_cereal_soja {
      color: #24a49c; }
    .soja_price #cambio_24porc_cereal_sorgo {
      color: #24a49c; }
    .soja_price #cambio_24porc_cereal_maiz {
      color: #24a49c; }
    .soja_price #cambio_24porc_cereal_trigo {
      color: #ec5454; }
    .soja_price #cambio_7porc_cereal_soja {
      color: #24a49c; }
    .soja_price #cambio_7porc_cereal_sorgo {
      color: #24a49c; }
    .soja_price #cambio_7porc_cereal_maiz {
      color: #24a49c; }
    .soja_price #cambio_7porc_cereal_trigo {
      color: #24a49c; }
    .soja_price #cambio_30porc_cereal_soja {
      color: #24a49c; }
    .soja_price #cambio_30porc_cereal_sorgo {
      color: #24a49c; }
    .soja_price #cambio_30porc_cereal_trigo {
      color: #ec5454; }
    .soja_price #cambio_30porc_cereal_maiz {
      color: #ec5454; }
  .trigo_price {
    grid-area: trigo_price;
    border: 2px solid #3e4095;
    width: 65vw;
    background-image: url(../images/precios/graph_desktop.jpeg);
    padding-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .trigo_price ul {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      display: grid;
      grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal"; }
      .trigo_price ul .nombre_cereal {
        grid-area: nombre_cereal; }
      .trigo_price ul .desktop_extra_prices {
        grid-area: desktop_extra_prices; }
      .trigo_price ul .precio_cereal {
        grid-area: precio_cereal; }
      .trigo_price ul .cambio_24_cereal {
        grid-area: cambio_24_cereal; }
      .trigo_price ul .cambio_24porc_cereal {
        grid-area: cambio_24porc_cereal; }
      .trigo_price ul .cambio_7_cereal {
        grid-area: cambio_7_cereal; }
      .trigo_price ul .cambio_7porc_cereal {
        grid-area: cambio_7porc_cereal; }
      .trigo_price ul .cambio_30_cereal {
        grid-area: cambio_30_cereal; }
      .trigo_price ul .cambio_30porc_cereal {
        grid-area: cambio_30porc_cereal; }
      .trigo_price ul li {
        list-style: none;
        color: #3e4095; }
    .trigo_price .nombre_cereal {
      font-size: 28px;
      font-weight: bold; }
    .trigo_price .desktop_extra_prices, .trigo_price .cambio_24_cereal {
      font-size: 20px;
      text-decoration: underline; }
    .trigo_price .cambio_24_cereal, .trigo_price .cambio_24porc_cereal {
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 10px; }
    .trigo_price .cambio_7_cereal, .trigo_price .cambio_30_cereal {
      font-size: 16px;
      text-decoration: underline; }
    .trigo_price .cambio_7porc_cereal, .trigo_price .cambio_30porc_cereal {
      font-weight: bold;
      font-size: 18px; }
    .trigo_price .precio_cereal, .trigo_price .cambio_24porc_cereal {
      font-size: 30px;
      font-weight: bold; }
    .trigo_price #cambio_24porc_cereal_soja {
      color: #24a49c; }
    .trigo_price #cambio_24porc_cereal_sorgo {
      color: #24a49c; }
    .trigo_price #cambio_24porc_cereal_maiz {
      color: #24a49c; }
    .trigo_price #cambio_24porc_cereal_trigo {
      color: #ec5454; }
    .trigo_price #cambio_7porc_cereal_soja {
      color: #24a49c; }
    .trigo_price #cambio_7porc_cereal_sorgo {
      color: #24a49c; }
    .trigo_price #cambio_7porc_cereal_maiz {
      color: #24a49c; }
    .trigo_price #cambio_7porc_cereal_trigo {
      color: #24a49c; }
    .trigo_price #cambio_30porc_cereal_soja {
      color: #24a49c; }
    .trigo_price #cambio_30porc_cereal_sorgo {
      color: #24a49c; }
    .trigo_price #cambio_30porc_cereal_trigo {
      color: #ec5454; }
    .trigo_price #cambio_30porc_cereal_maiz {
      color: #ec5454; }
  .maiz_price {
    grid-area: maiz_price;
    border: 2px solid #3e4095;
    width: 65vw;
    background-image: url(../images/precios/graph_desktop.jpeg);
    padding-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .maiz_price ul {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      display: grid;
      grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal"; }
      .maiz_price ul .nombre_cereal {
        grid-area: nombre_cereal; }
      .maiz_price ul .desktop_extra_prices {
        grid-area: desktop_extra_prices; }
      .maiz_price ul .precio_cereal {
        grid-area: precio_cereal; }
      .maiz_price ul .cambio_24_cereal {
        grid-area: cambio_24_cereal; }
      .maiz_price ul .cambio_24porc_cereal {
        grid-area: cambio_24porc_cereal; }
      .maiz_price ul .cambio_7_cereal {
        grid-area: cambio_7_cereal; }
      .maiz_price ul .cambio_7porc_cereal {
        grid-area: cambio_7porc_cereal; }
      .maiz_price ul .cambio_30_cereal {
        grid-area: cambio_30_cereal; }
      .maiz_price ul .cambio_30porc_cereal {
        grid-area: cambio_30porc_cereal; }
      .maiz_price ul li {
        list-style: none;
        color: #3e4095; }
    .maiz_price .nombre_cereal {
      font-size: 28px;
      font-weight: bold; }
    .maiz_price .desktop_extra_prices, .maiz_price .cambio_24_cereal {
      font-size: 20px;
      text-decoration: underline; }
    .maiz_price .cambio_24_cereal, .maiz_price .cambio_24porc_cereal {
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 10px; }
    .maiz_price .cambio_7_cereal, .maiz_price .cambio_30_cereal {
      font-size: 16px;
      text-decoration: underline; }
    .maiz_price .cambio_7porc_cereal, .maiz_price .cambio_30porc_cereal {
      font-weight: bold;
      font-size: 18px; }
    .maiz_price .precio_cereal, .maiz_price .cambio_24porc_cereal {
      font-size: 30px;
      font-weight: bold; }
    .maiz_price #cambio_24porc_cereal_soja {
      color: #24a49c; }
    .maiz_price #cambio_24porc_cereal_sorgo {
      color: #24a49c; }
    .maiz_price #cambio_24porc_cereal_maiz {
      color: #24a49c; }
    .maiz_price #cambio_24porc_cereal_trigo {
      color: #ec5454; }
    .maiz_price #cambio_7porc_cereal_soja {
      color: #24a49c; }
    .maiz_price #cambio_7porc_cereal_sorgo {
      color: #24a49c; }
    .maiz_price #cambio_7porc_cereal_maiz {
      color: #24a49c; }
    .maiz_price #cambio_7porc_cereal_trigo {
      color: #24a49c; }
    .maiz_price #cambio_30porc_cereal_soja {
      color: #24a49c; }
    .maiz_price #cambio_30porc_cereal_sorgo {
      color: #24a49c; }
    .maiz_price #cambio_30porc_cereal_trigo {
      color: #ec5454; }
    .maiz_price #cambio_30porc_cereal_maiz {
      color: #ec5454; }
  .sorgo_price {
    grid-area: sorgo_price;
    border: 2px solid #3e4095;
    width: 65vw;
    background-image: url(../images/precios/graph_desktop.jpeg);
    padding-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px; }
    .sorgo_price ul {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      display: grid;
      grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal"; }
      .sorgo_price ul .nombre_cereal {
        grid-area: nombre_cereal; }
      .sorgo_price ul .desktop_extra_prices {
        grid-area: desktop_extra_prices; }
      .sorgo_price ul .precio_cereal {
        grid-area: precio_cereal; }
      .sorgo_price ul .cambio_24_cereal {
        grid-area: cambio_24_cereal; }
      .sorgo_price ul .cambio_24porc_cereal {
        grid-area: cambio_24porc_cereal; }
      .sorgo_price ul .cambio_7_cereal {
        grid-area: cambio_7_cereal; }
      .sorgo_price ul .cambio_7porc_cereal {
        grid-area: cambio_7porc_cereal; }
      .sorgo_price ul .cambio_30_cereal {
        grid-area: cambio_30_cereal; }
      .sorgo_price ul .cambio_30porc_cereal {
        grid-area: cambio_30porc_cereal; }
      .sorgo_price ul li {
        list-style: none;
        color: #3e4095; }
    .sorgo_price .nombre_cereal {
      font-size: 28px;
      font-weight: bold; }
    .sorgo_price .desktop_extra_prices, .sorgo_price .cambio_24_cereal {
      font-size: 20px;
      text-decoration: underline; }
    .sorgo_price .cambio_24_cereal, .sorgo_price .cambio_24porc_cereal {
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 10px; }
    .sorgo_price .cambio_7_cereal, .sorgo_price .cambio_30_cereal {
      font-size: 16px;
      text-decoration: underline; }
    .sorgo_price .cambio_7porc_cereal, .sorgo_price .cambio_30porc_cereal {
      font-weight: bold;
      font-size: 18px; }
    .sorgo_price .precio_cereal, .sorgo_price .cambio_24porc_cereal {
      font-size: 30px;
      font-weight: bold; }
    .sorgo_price #cambio_24porc_cereal_soja {
      color: #24a49c; }
    .sorgo_price #cambio_24porc_cereal_sorgo {
      color: #24a49c; }
    .sorgo_price #cambio_24porc_cereal_maiz {
      color: #24a49c; }
    .sorgo_price #cambio_24porc_cereal_trigo {
      color: #ec5454; }
    .sorgo_price #cambio_7porc_cereal_soja {
      color: #24a49c; }
    .sorgo_price #cambio_7porc_cereal_sorgo {
      color: #24a49c; }
    .sorgo_price #cambio_7porc_cereal_maiz {
      color: #24a49c; }
    .sorgo_price #cambio_7porc_cereal_trigo {
      color: #24a49c; }
    .sorgo_price #cambio_30porc_cereal_soja {
      color: #24a49c; }
    .sorgo_price #cambio_30porc_cereal_sorgo {
      color: #24a49c; }
    .sorgo_price #cambio_30porc_cereal_trigo {
      color: #ec5454; }
    .sorgo_price #cambio_30porc_cereal_maiz {
      color: #ec5454; } }

.estructura_main_qs {
  background-color: #d1c7b7; }
  .estructura_main_qs .foto_frente {
    height: 300px;
    object-fit: cover;
    width: 100%;
    margin-top: 10px; }
  .estructura_main_qs .foto_feed {
    height: 200px;
    width: 100%;
    object-fit: cover; }
  .estructura_main_qs .texto_medio, .estructura_main_qs .texto_titulo {
    text-align: justify;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 40px; }
  .estructura_main_qs .texto_titulo {
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

@media only screen and (min-width: 750px) {
  .estructura_main_qs .foto_feed:hover {
    transform: scale(2, 2);
    transition: 2s;
    object-fit: scale-down; }
  .estructura_main_qs .borrador_2 {
    display: none; } }

@media only screen and (max-width: 751px) {
  .estructura_main_qs .borrador_1 {
    display: none; } }

.menu {
  text-align: center;
  padding-right: 35px; }
  .menu ul li:hover {
    background-color: #B09872; }
  .menu ul li {
    list-style-type: none;
    background-color: whitesmoke;
    border: 2px solid #B09872;
    padding: 5px;
    margin-bottom: 10px; }
    .menu ul li a {
      color: #3e4095;
      text-decoration: none; }
    .menu ul li a:hover {
      color: whitesmoke;
      font-weight: bold; }
  .menu ul #home_button {
    background-color: transparent;
    border-color: transparent; }

footer {
  color: whitesmoke;
  display: grid;
  grid-template-areas: "newsletter newsletter" "maps contact" "maps copyright";
  align-items: stretch; }
  footer .maps {
    grid-area: maps;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .contact {
    grid-area: contact;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .copyright {
    grid-area: copyright;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .newsletter {
    grid-area: newsletter;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer div {
    border: solid 2px #d1c7b7; }
  footer .newsletter {
    flex-direction: column; }
    footer .newsletter form select, footer .newsletter form input {
      padding: 3px;
      margin: 3px;
      width: 85vw; }
    footer .newsletter form #submit_button {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 30vw; }
  footer .maps {
    flex-flow: column nowrap; }
    footer .maps .maps_label_mobile {
      font-weight: bold;
      padding: 10px; }
    footer .maps label, footer .maps iframe {
      padding: 5px; }
  footer .contact {
    justify-content: space-around;
    padding: 10px; }
  footer .copyright {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    footer .copyright h3, footer .copyright a, footer .copyright #sobre_mi {
      font-size: 12px;
      padding: 10px;
      text-decoration: none;
      color: whitesmoke; }

@media only screen and (max-width: 750px) {
  #h2_desktop {
    display: none; }
  #contact_label {
    display: none; }
  #maps_label_desktop {
    display: none; } }

@media only screen and (min-width: 751px) {
  footer {
    display: grid;
    grid-template-areas: "newsletter maps" "newsletter contact" "newsletter copyright";
    align-items: stretch; }
    footer .newsletter {
      grid-area: newsletter;
      display: flex;
      align-items: center;
      padding: 20px; }
    footer .maps {
      grid-area: maps;
      display: flex;
      align-items: center;
      padding: 20px; }
    footer .contact {
      grid-area: contact;
      display: flex;
      align-items: center;
      padding: 20px; }
    footer .copyright {
      grid-area: copyright;
      display: flex;
      align-items: center;
      padding: 20px; }
    footer .newsletter {
      flex-flow: column nowrap; }
      footer .newsletter h2 {
        padding: 20px; }
      footer .newsletter #h2_mobile {
        display: none; }
      footer .newsletter form select, footer .newsletter form input {
        padding: 5px;
        margin: 5px;
        width: 60vw; }
    footer .maps label, footer .maps iframe {
      padding: 5px; }
    footer .maps #maps_label_mobile {
      display: none; }
    footer .contact a {
      padding: 5px; } }

footer {
  background-color: #3e4095; }

header {
  background-color: #3e4095; }

body {
  background-color: #d1c7b7; }

menu {
  background-color: #3e4095; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }
