.fondo_main_index {
  background-color: #d1c7b7; }
  .fondo_main_index img {
    max-width: 100%; }
  .fondo_main_index .main_text {
    text-align: left; }
    .fondo_main_index .main_text h3, .fondo_main_index .main_text p {
      padding: 10px; }

@media only screen and (min-width: 751px) {
  .fondo_main_index {
    display: grid;
    grid-template-areas: "imagen texto"; }
    .fondo_main_index .main_text {
      grid-area: texto;
      margin: 50px;
      padding-left: 30px; }
    .fondo_main_index .fondo_trigo_index {
      grid-area: imagen;
      width: 300px;
      height: 500px;
      object-fit: cover;
      object-position: 90% 90%;
      border: 2px solid #3e4095;
      margin: 5px; } }

@media only screen and (max-width: 750px) {
  .estructura_main_comercial .image_servicios {
    display: none; }
  .estructura_main_comercial .image_insumos {
    display: none; }
  .estructura_main_comercial .image_finanzas {
    display: none; }
  .estructura_main_comercial .text_servicios {
    background-image: url(../images/comercial/servicios_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; }
  .estructura_main_comercial .text_insumos {
    background-image: url(../images/comercial/insumos_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; }
  .estructura_main_comercial .text_finanzas {
    background-image: url(../images/comercial/finanzas_dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: black 2px 2px 2px;
    padding: 5px;
    margin: 5px; } }

@media only screen and (min-width: 751px) {
  .estructura_main_comercial {
    display: flex;
    flex-flow: nowrap; }
    .estructura_main_comercial .finanzas {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .insumos {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .servicios {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 5px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .estructura_main_comercial .image_finanzas {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .image_insumos {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .image_servicios {
      height: 350px;
      width: 32vw;
      object-fit: cover;
      margin-top: 10px;
      border: 2px solid #3e4095; }
    .estructura_main_comercial .text_finanzas, .estructura_main_comercial .text_insumos, .estructura_main_comercial .text_servicios {
      text-align: center;
      height: 350px;
      width: 32vw;
      padding-top: 20%;
      margin-top: 10px;
      border: 2px solid #3e4095; } }

.estructura_main_qs .foto_feed {
  height: 250px;
  object-fit: cover;
  padding: 1px; }

.estructura_main_qs .texto_medio {
  text-align: center; }

@media only screen and (min-width: 750px) {
  .estructura_main_qs .foto_feed:hover {
    transform: scale(1.5, 1.5);
    transition: 2s;
    object-fit: scale-down; }
  .estructura_main_qs .borrador_2 {
    display: none; } }

@media only screen and (max-width: 751px) {
  .estructura_main_qs .borrador_1 {
    display: none; } }

.menu {
  text-align: center;
  padding-right: 35px; }
  .menu ul li:hover {
    background-color: #B09872; }
  .menu ul li {
    list-style-type: none;
    background-color: whitesmoke;
    border: 2px solid #B09872;
    padding: 5px;
    margin-bottom: 10px; }
    .menu ul li a {
      color: #3e4095;
      text-decoration: none; }
    .menu ul li a:hover {
      color: whitesmoke; }
  .menu ul #home_button {
    background-color: transparent;
    border-color: transparent; }

footer {
  color: whitesmoke;
  display: grid;
  grid-template-areas: "newsletter newsletter" "maps contact" "maps copyright";
  align-items: stretch; }
  footer div {
    border: solid 1px #B09872; }
  footer .newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px; }
    footer .newsletter form select, footer .newsletter form input {
      padding: 3px;
      margin: 3px;
      width: 85vw; }
    footer .newsletter form #submit_button {
      margin-bottom: 10px; }
  footer .maps {
    grid-area: maps;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .contact {
    grid-area: contact;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .copyright {
    grid-area: copyright;
    display: flex;
    padding: 5px;
    align-items: center; }
  footer .maps {
    flex-flow: column nowrap; }
    footer .maps label, footer .maps iframe {
      padding: 3px; }
  footer .contact {
    justify-content: space-around; }
  footer .copyright {
    flex-flow: row nowrap;
    justify-content: space-around; }
    footer .copyright h3, footer .copyright a {
      font-size: 12px; }
    footer .copyright #sobre_mi {
      color: whitesmoke;
      text-decoration: none;
      padding: 5px; }

@media only screen and (max-width: 500px) {
  #h2_desktop {
    display: none; }
  #contact_label {
    display: none; }
  #maps_label_desktop {
    display: none; } }

@media only screen and (min-width: 751px) {
  footer {
    display: grid;
    grid-template-areas: "newsletter maps" "newsletter contact" "newsletter copyright";
    align-items: stretch; }
    footer .newsletter {
      grid-area: newsletter;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .maps {
      grid-area: maps;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .contact {
      grid-area: contact;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .copyright {
      grid-area: copyright;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .newsletter {
      padding: 20px;
      align-items: center;
      flex-flow: column nowrap; }
      footer .newsletter h2 {
        padding: 20px; }
      footer .newsletter #h2_mobile {
        display: none; }
      footer .newsletter form select, footer .newsletter form input {
        padding: 5px;
        margin: 5px;
        width: 40vw; }
    footer .maps label, footer .maps iframe {
      padding: 5px; }
    footer .maps #maps_label_mobile {
      display: none; }
    footer .contact {
      padding: 20px;
      align-items: center; }
      footer .contact a {
        padding: 5px; }
    footer .copyright {
      flex-flow: column wrap; } }

footer {
  background-color: #3e4095; }

header {
  background-color: #3e4095; }

body {
  background-color: #d1c7b7; }

menu {
  background-color: #3e4095; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }
