@import "./variables";

//MOBILE//
//Acomodo a traves de GRIDS la estructura del footer en MOBILE//
footer{
    color:$white;
    display:grid;
    grid-template-areas: "newsletter newsletter" "maps contact" "maps copyright";
    align-items: stretch;
    
    //Armo una estructura en comun con todas las partes del footer//
    @each $var in maps, contact, copyright, newsletter{
        .#{$var}{
            grid-area:#{$var};
            display:flex;
            padding:5px;
            align-items: center;
        }
    }

    //Pongo lineas entre los GRIDS//
    div{
        border: solid 2px $third_color;
    }

    //Configuración newsletter MOBILE//
    //Pongo el titulo y las forms una sobre otras//
    .newsletter{
        flex-direction: column;

        //Configuración de ubicación de formularios y botones dentro del newsletter//
        form{
            select,input{
                padding:3px;
                margin: 3px;
                width: 85vw;
            }
            #submit_button{
                margin-top:10px;
                margin-bottom: 10px;
                width:30vw;
            }
        }
    }

    //Configuración maps MOBILE//
    .maps{
        .maps_label_mobile{
            font-weight: bold;
            padding:10px;
        }
        flex-flow: column nowrap;
        label,iframe{
            padding: 5px;
        }
    }
    
    //Configuración contact MOBILE//
    .contact{
        justify-content: space-around;
        padding:10px;
    }

    //Configuración copyright MOBILE//
    .copyright{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        h3,a,#sobre_mi{
            font-size:12px;
            padding:10px;
            text-decoration: none;
            color:$white;
        }
    }
}

//Escondo las cosas que no tienen que verse en modo MOBILE//
@media only screen and (max-width:750px){
    #h2_desktop{
        display:none;
    }
    #contact_label{
        display:none;
    }
    #maps_label_desktop{
        display:none;
    }
}

//DESKTOP//
@media only screen and (min-width:751px){
    footer{
        //Hago la estructura con GRIDS del footer en DESKTOP//
        display:grid;
        grid-template-areas: "newsletter maps" "newsletter contact" "newsletter copyright";
        align-items: stretch;
        
        //Organizo aspectos en comun de las secciones del footer con Flexbox//
        @each $var in newsletter,maps,contact,copyright{
            .#{$var}{
                grid-area:#{$var};
                display:flex;
                align-items: center;
                padding:20px;
            }
        }
        
        //Estructuración particular del newsletter en DESKTOP//
        .newsletter{
            flex-flow:column nowrap;
            //Titulo//
            h2{
                padding:20px;
            }
            //Escondo el titulo de MOBILE//
            #h2_mobile{
                display:none;
            }
            form{
                select, input{
                    padding:5px;
                    margin: 5px;
                    width: 60vw;
                }
            }
        }

        //Estructuración particular del maps en DESKTOP//
        .maps{
            label,iframe{
                padding:5px;
            }
            //Escondo el titulo de MOBILE//
            #maps_label_mobile{
                display: none;
            }
        }

        //Estructuración particular del contact en DESKTOP//
        .contact{
            a{
                padding:5px;
            }     
        }
    }
}
