@import "./variables";

.fondo_main_index{
    background-color:$third_color;
    img{
        max-width:100%;
    }
    .main_text{
        text-align: left;
        h3,p{
            padding: 10px;
        }
    }
}

@media only screen and (min-width:751px){
    .fondo_main_index{
        display:grid;
        grid-template-areas: "imagen texto";
        .main_text{
            grid-area:texto;

            margin: 50px;
            padding-left:30px;
        }
        .fondo_trigo_index{
                grid-area: imagen;

                width: 300px;
                height: 500px;
                object-fit:cover;
                object-position: 90% 90%; 
                border: 2px solid $main_color;
                margin: 5px;
            
        }
    }
}