@import "./variables";


.fondo_main_index{
    //Color de fondo//
    background-color:$third_color;
    img{
        //Organización de imagenes//
        width:97vw;
    }
    .main_text{
        text-align: justify;
        h3,p{
            padding: 10px;
            line-height: 30px;
        }
    }
}

//Estructura Desktop//
@media only screen and (min-width:751px){
    .fondo_main_index{
        display:grid;
        grid-template-areas: "imagen texto";
        .main_text{
            grid-area:texto;
            margin: 10px;
        }
        //Configuración de la imagen//
        .fondo_trigo_index{
                grid-area: imagen;

                width: 40vw;
                height: 98%;
                object-fit:cover;
                border: 2px solid $main_color;
                margin-bottom: 10px;
                margin-left:10px;
            
        }
    }
}