@import "./variables";

//Configuramos la pantalla MOBILE//

@media only screen and (max-width:750px){
    .price{
        //Armo la estructura 2x2 MOBILE con Grids//
        display:grid;
        grid-template-areas: "soja_price trigo_price" "maiz_price sorgo_price";
    }
        //Armo la estructura ahorrando codigo//
        @each $var in soja_price, trigo_price, maiz_price, sorgo_price{
        .#{$var}{
            grid-area:#{$var};
            background-image: url(../images/precios/grafico.png);
            background-repeat: no-repeat;
            background-size:cover;
            border: $main_color 2px solid;
            width: 45vw;
            margin-left:2vw;
            margin-bottom:10px;
            ul{
                //Configuro el orden de los contenedores en la lista//
                display:flex;
                flex-direction: column;
                color:$main_color;
                padding-top:15px;
                
                li{
                    //Configuro el texto de listas//
                    list-style: none;
                    display:flex;
                    justify-content: center;
                    margin-right:5vw;
                }
                //Edición de textos de precios//
                .nombre_cereal{
                    font-size: 24px;
                }
                .precio_cereal{
                    font-weight:bold;
                    font-size: 32px;
                    color:$main_color;
                    padding:0px;
                }
                .cambio_24_cereal, .cambio_24porc_cereal{
                    padding-bottom:0px;
                    padding-top:0px;
                    font-size:20px;
                    font-weight:bold;
                }
                .cambio_24_cereal{
                    text-decoration: underline;
                }
                //Color segun porcentaje//
                //VERDE//
                @each $var in soja, sorgo, maiz{
                    #cambio_24porc_cereal_#{$var}{
                        color:$green;
                    }
                }
                //ROJO//
                @each $var in trigo{
                    #cambio_24porc_cereal_#{$var}{
                        color:$red;
                    }
                }
                
                //Borro los precios que no aparecen en MOBILE//
                .cambio_7_cereal,.cambio_30_cereal,.cambio_7porc_cereal,.cambio_30porc_cereal{
                    display:none;
                }
            
            }
        }
    }
    .imagen_cereales{
        display:none;
    }
}

//Configuramos la pantalla DESKTOP//

@media only screen and (min-width:750px){
    //Armamos la estructura de Grids en DESKTOP//

    .estructura_main_precios{
        //Armo la estructura 2x2 MOBILE con Grids//
        display:grid;
        grid-template-areas: "imagen_cereal soja_price" "imagen_cereal trigo_price" "imagen_cereal maiz_price" "imagen_cereal sorgo_price";
    }

    //QUE MANERA DE RESUMIR CODIGO!!!//
    //Estructura Grid General e interna de cada cuadro//
    @each $var in imagen_cereal, soja_price, trigo_price, maiz_price, sorgo_price{
        .#{$var}{
            grid-area:#{$var};
            ul, div{
                display:flex;
                flex-flow: row no wrap;           
                display:grid;
                grid-template-areas: "nombre_cereal nombre_cereal nombre_cereal nombre_cereal" "desktop_extra_prices cambio_24_cereal cambio_7_cereal cambio_30_cereal" "precio_cereal cambio_24porc_cereal cambio_7porc_cereal cambio_30porc_cereal";
                @each $var in nombre_cereal, desktop_extra_prices, precio_cereal, cambio_24_cereal, cambio_24porc_cereal, cambio_7_cereal, cambio_7porc_cereal, cambio_30_cereal, cambio_30porc_cereal {
                    .#{$var}{
                        grid-area:#{$var};    
                }
            }
                
                li{
                    list-style: none;
                }
            }
        }
    }
}