//Paginas//
@import "./index";
@import "./comercial";
@import "./contacto";
@import "./precios";
@import "./quienes_somos";

//Partes compartidas// 
@import "./menu";
@import "./footer";

//SASS 2, GENERALES (LOS OTROS ESTAN DENTRO DE CADA SCSS//@at-root
@import "./maps";

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}